stages:
  - foo

bar:
  stage: foo
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_BRANCH =~ /^renovate\/.*$/)'
      when: on_success
    - when: never
  script:
    - echo foo
    - echo $CI_PIPELINE_SOURCE
    - echo $CI_COMMIT_BRANCH
    - echo $CI_COMMIT_REF_NAME
