include:
  - project: 4s1/gitlab-ci-config
    file: 'typescript/validate/.gitlab-ci.yml'
  - project: 4s1/gitlab-ci-config
    file: 'typescript/sonarlint/.gitlab-ci.yml'

stages:
  - foo
  - validate
  - sonarlint

bar:
  stage: foo
  rules:
    - if: '($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_PIPELINE_SOURCE == "merge_request_event") && $CI_COMMIT_BRANCH !~ /^renovate.*/'
      when: on_success
    - when: never
  script:
    - echo $CI_COMMIT_BRANCH
