@yellowgarbagebag:registry=https://gitlab.com/api/v4/packages/npm/
@yellowgarbagegroup:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=fAf7rz5uKrczADMNfPnq
//gitlab.com/api/v4/projects/28705297/packages/npm/:_authToken=fAf7rz5uKrczADMNfPnq